$font-family: "Montserrat", sans-serif;

$primary-color: #007bff;
$secondary-color: #28a745;
$error-color: red;
$background-color: #f5f5f5;
$text-color: #333;
$icon-color: #999;

$border-color: #ccc;
$border-radius: 5px;
$input-padding: 8px;
$input-border: 1px solid $border-color;
$box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
